html
{
    --boxAppearDelayName: 0.6s;
    --boxAppearDelayContact: 0.4s;
    --boxAppearDelayHobbies: 0.2s;
    --boxAppearDelayGames: 0.1s;
    --boxAppearDelayMusic: 0.0s;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
}
*
{
    box-sizing: inherit;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}
.box
{
    --boxAppearDelay: 0s;
    position: absolute;
    min-width: 300px;
    min-height: 300px;
    box-shadow: 0 0 5px black;
    background: #b34;
    color: white;
    padding: 20px;
    overflow-y: scroll;
    border-radius: 15px;
}
.box.hovered
{
    animation: animBoxHover 0.5s ease-in-out forwards;
}
.box.init
{
    /*transform: translateX(-100vw);*/
    transform: scale(0);
    animation: animBoxAppear 0.25s ease-out forwards var(--boxAppearDelay);
}
@keyframes animBoxHover
{
    from
    {
        filter: brightness(100%);
    }
    50%
    {
        filter: brightness(142%);
    }
    to
    {
        filter: brightness(100%);
    }
}
@keyframes animBoxAppear
{
    from
    {
        transform: translateX(-100vw);
    }
    to
    {
        transform: translateX(0);
    }
}
h1,h2,h3
{
    margin: 0;
}




#home
{
    margin: auto;
    position: relative;
    width: 1060px;
    height: 800px;
    border: 1px solid black;
    margin-top: 30px;
    overflow: hidden;
}





#name
{
    --boxAppearDelay: var(--boxAppearDelayName);
    top: 10px;
    left: 30px;
    width: 1000px;
    height: 300px;
    padding: 30px;
    background: #b34;
    color: white;
    font-size: 175px;
}
#name span
{
    user-select: all;
    -webkit-user-select: all;
}
/*#name.init*/
/*{*/
/*    animation: animBoxAppear 1s ease-out forwards var(--boxAppearDelay);*/
/*}*/








#contact
{
    --boxAppearDelay: var(--boxAppearDelayContact);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 360px;
    left: 30px;
    width: 310px;
    height: 50px;
    min-width: revert;
    min-height: revert;
    padding: 0;
    color: white;
    font-size: 32px;
    cursor: pointer;
}








#hobbies
{
    --boxAppearDelay: var(--boxAppearDelayHobbies);
    top: 460px;
    left: 60px;
    width: 280px;
    min-width: revert;
    font-size: 30px;
    background: #5ad50c;
    padding: 30px;
}








#games
{
    --boxAppearDelay: var(--boxAppearDelayGames);
    top: 360px;
    left: 390px;
    width: 190px;
    height: 400px;
    background: #5af;
    font-size: 28px;
}
#games details
{
    margin: 20px 0;
    user-select: text;
    -webkit-user-select: text;
}
#games summary
{
    cursor: pointer;
}








#music
{
    --boxAppearDelay: var(--boxAppearDelayMusic);
    top: 360px;
    left: 730px;
    width: 190px;
    height: 400px;
    background: #FAC;
    font-size: 28px;
    padding-bottom: 15px;
}
#music form
{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
}
#music :is(input, textarea)
{
    flex-grow: 1;
    width: 100%;
    cursor: revert;
    user-select: revert;
    -webkit-user-select: revert;
    resize: none;
}
#music h2 span
{
    cursor: pointer;
    /*text-decoration: underline;*/
}






