body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
div
{
    width: fit-content;
    height: fit-content;
}
div > a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 10px;
    background: #e5e5e5;
    border-radius: 35px;
}
div > a > span
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}
div > a > i
{
    display: block;
    width: 100px;
    height: 100px;
    background: gray;
    border-radius: 15px;
    box-shadow: inset black 10px 10px 10px 10px;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#usualGlyph
{
    animation: animSlideRight;
}
#scaleGlyph
{
    animation: animGrow;
}
@keyframes SlideRight
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-100%);
    }
    from
    {
        transform: translateX(-100%);
    }
    to
    {
        transform: none;
    }
}
@keyframes Grow
{
    from
    {
        transform: scale(0.8);
    }
    20%
    {
        transform: scale(0.2);
    }
    88%
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(0.8);
    }
}

